################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/results
/calibrations
/__pycache__
/.idea
/.vs
/venv
/instr_docs